$white: #FFFFFF;
$primary: #27A3FF;
$secondary: #693ee0;
$menu-color: #817A99;
$all-bg: #EDF9FF;
$main-text: #160647;
$btn-hover: #CDEEFF;
$bg-card: #fafbff;
$border-card: #012B3A;

$txt-mobile-1: #116218;
$txt-mobile-2: #00477B;
$txt-mobile-3: #004855;
$txt-mobile-4: #2F5D62;
$txt-mobile-5: #52225E;
$txt-mobile-6: #911A3E;
$txt-mobile-7: #1C471F;
$txt-mobile-8: #00704A;

$bg-mobile-1: #d3f1da;
$bg-mobile-2: #e4f2fe;
$bg-mobile-3: #E6F4F5;
$bg-mobile-4: #BEE7D9;
$bg-mobile-5: #EEEBFD;
$bg-mobile-6: #FFCCDB;
$bg-mobile-7: #E0FFF4;
$bg-mobile-8: #BEE7D9;

$txt-web-1: #116218;
$txt-web-2: #4d68cb;

$bg-web-1: #d3f1da;
$bg-web-2: #DEE5FF;